@font-face {
  font-family: 'Branding Medium';
  src: url('../assets/fonts/Branding Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Branding Semi Bold';
  src: url('../assets/fonts/Branding SemiBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Branding Bold';
  src: url('../assets/fonts/Branding Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

ion-app, div, span {
  font-family: "Branding Medium";
}

.back-button {
  margin: 0 !important;
}

.scroll-content {
  overflow-y: auto !important;
}
